@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Montserrat-Regular;
        src: url("/fonts/Montserrat-Regular.ttf");
    }
    @font-face {
        font-family: Montserrat-Medium;
        src: url("/fonts/Montserrat-Medium.ttf");
    }
    @font-face {
        font-family: Montserrat-Bold;
        src: url("/fonts/Montserrat-Bold.ttf");
    }
    @font-face {
        font-family: Lato-Bold;
        src: url("/fonts/Lato-Bold.ttf");
    }
    @font-face {
        font-family: Lato-Regular;
        src: url("/fonts/Lato-Regular.ttf");
    }
}

@layer components {
    .bulletClass{
        @apply inline-block w-3 h-3 rounded-full mx-1 bg-gray-200;
    }
    .horizontalClass{
        @apply  static text-left py-2;
    }
    .bulletActiveClass{
        @apply bg-gradient-to-r from-green-brighter to-green-darker;
    }
  }